#header {
  background-color:rgb(38, 70, 83);
  height: 70px;
  border-bottom: 20px;
  text-align: center;

}
#header-text {
  padding-top: 15px;;
  color: white;
  max-height: 100%;
  margin:0;
  top:-10px;
  font-family:monospace;
}
body {
  background-color: white;
  overflow: hidden;
  margin: 0;
  padding: 0;
}


#main-container{
  display: flex;
  flex-direction: column;
}
#game-container {
  width: 600px;
  height: 600px;
  border-radius: 50%;

  margin: auto;


}
.circles  {
  z-index: 5;
  height: 50px;
  width: 50px;
  position: absolute; 
  border-radius: 50%;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
  text-align: center;
  font-family:monospace;
  font-size: 40px;
  transition: width .9s;
  transition: height .9s;
  opacity:1;
  padding-bottom: 2px;
  color:transparent;
  -webkit-box-shadow: 3px 3px 5px 3px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 3px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 3px #ccc;
  
}
.circles-clicked  {
  -webkit-box-shadow: 3px 3px 5px 3px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 3px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 3px #ccc;
  height: 50px;
  width: 50px;
  position: absolute; 
  border-radius: 50%;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
  text-align: center;
  font-family:monospace;
  font-size: 40px;
  transition: width .9s;
  transition: height .9s;
  opacity:1;
  padding-bottom: 2px;
  color: white;
  
}
.circles:hover{
  z-index: 100;
  opacity: 0.5;
  width: 65px;
  height:65px;
}



#CMajor {
  background-color: rgb(42,157,143);
  transform: rotate(270deg) translate(300px);

  /* opacity:1; */
  /* transition: opacity 230ms; */
}
#CMajor.hover{
  
}

.major {
  background-color: rgb(42,157,143);
  transform: translate(300px)
}

.minor {
  background-color: rgb(231,111,81);
  transform: translate(200px)
}

.deg30 {
  transform: rotate(30deg)
}

.deg60 {
  transform: rotate(60deg)
}
.deg90 {
  transform: rotate(90deg)
}
.deg120 {
  transform: rotate(120deg)
}
.deg150 {
  transform: rotate(150deg)
}
.deg180 {
  transform: rotate(180deg)
}





#GMajor {
  background-color: rgb(42,157,143);
  transform: rotate(300deg) translate(300px);
}
#DMajor {
  background-color: rgb(42,157,143);
  transform: rotate(330deg) translate(300px);
}
#AMajor {
  background-color: rgb(42,157,143);
  transform: rotate(360deg) translate(300px);
}
#EMajor {
  background-color: rgb(42,157,143);
  transform: rotate(30deg) translate(300px);
}
#HMajor {
  background-color: rgb(42,157,143);
  transform: rotate(60deg) translate(300px);
}
#FSharpMajor {
  background-color: rgb(42,157,143);
  transform: rotate(90deg) translate(300px);
}
#CSharpMajor {
  background-color: rgb(42,157,143);
  transform: rotate(120deg) translate(300px);
}
#AFlatMajor {
  background-color: rgb(42,157,143);
  transform: rotate(150deg) translate(300px);
}
#EFlatMajor {
  background-color: rgb(42,157,143);
  transform: rotate(180deg) translate(300px);
}
#BMajor {
  background-color: rgb(42,157,143);
  transform: rotate(210deg) translate(300px);
}
#FMajor {
  background-color: rgb(42,157,143);
  transform: rotate(240deg) translate(300px);
}


#aMinor {
  background-color: rgb(231,111,81);
  transform: rotate(270deg) translate(200px);
}
#eMinor {
  background-color: rgb(231,111,81);
  transform: rotate(300deg) translate(200px);
}
#hMinor {
  background-color: rgb(231,111,81);
  transform: rotate(330deg) translate(200px);
}
#fSharpMinor {
  background-color: rgb(231,111,81);
  transform: rotate(360deg) translate(200px);
}
#cSharpMinor {
  background-color: rgb(231,111,81);
  transform: rotate(30deg) translate(200px);
}
#aFlatMinor {
  background-color: rgb(231,111,81);
  transform: rotate(60deg) translate(200px);
}
#eFlatMinor {
  background-color: rgb(231,111,81);
  transform: rotate(90deg) translate(200px);
}
#bMinor {
  background-color: rgb(231,111,81);
  transform: rotate(120deg) translate(200px);
}
#fMinor {
  background-color: rgb(231,111,81);
  transform: rotate(150deg) translate(200px);
}
#cMinor {
  background-color: rgb(231,111,81);
  transform: rotate(180deg) translate(200px);
}
#gMinor {
  background-color: rgb(231,111,81);
  transform: rotate(210deg) translate(200px);
}
#dMinor {
  background-color: rgb(231,111,81);
  transform: rotate(240deg) translate(200px);
}
#note-prompt {
  color: white;
  font-size: 90px;
  font-family: monospace;
  background-color: rgb(38,70,83);
  height: 100px;
  width: 100px;
  position: absolute; 
  border-radius: 50%;
  left: 49%;
  top: 47%;
  margin-left: -25px;
  margin-top: -25px;

  transform: rotate(0deg) translate(-10px);
  text-align: center;
  
}
#note-prompt-div{
  top:-10%;
  position: relative;
}

#score-and-remaining{
  -webkit-box-shadow: 3px 3px 5px 3px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 3px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 3px #ccc;
  width: 300px;
  height: 200px;
  margin-left: 50px;
  position: fixed;
  top: 150px;
  left: 0;

}
#score-remaining-text{
  font-size:25px;
  padding: 10px;
  font-family: monospace;
}

#top-scores{
  -webkit-box-shadow: 3px 3px 5px 3px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 3px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 3px #ccc;
  width: 300px;
  height: 380px;
  margin-left: 50px;
  position: fixed;
  top: 400px;
  left: 0;

}
#top-scores-text{
  font-size:25px;
  padding: 10px;
  font-family: monospace;
}